*.Rproj.user
*.Rhistory
*.png

Data
Writing/**/*.concordance.tex
Writing/**/*.log
Writing/**/*.pdf
Writing/**/*.synctex.gz
Writing/**/*.aux
Writing/**/*.tex
Writing/**/*.blg
Writing/**/cache
Writing/**/*.bbl

.Rproj.user
