*.Rproj.user
*.Rhistory
*.png

Writing/**/*.concordance.tex
Writing/**/*.log
Writing/**/*.pdf
Writing/**/*.synctex.gz
Writing/**/*.aux
Writing/**/*.tex
Writing/**/*.blg
Writing/**/cache

Writing/**/*.csv
Writing/**/*.bbl

.Rproj.user
